*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}
/* next */
.navbar {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 14px 40px; 
  position: absolute;
  top: 25px;
  left: 5%;
  justify-content: center;
  align-items: center;
  width:90%; 
  border-radius: 16px;
  /* backdrop-filter: blur(10px); */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.2); */

}

.navdiv {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.navdiv a {
  text-decoration: none;
  color: #fff;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-size: 1.2rem; 
}

.navdiv a:hover {
  color: #a6a6a6;
}


/* next */
section#home{
    background-image: url(images/pexels-edmond-elshani-2521534-31594917.jpg);
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;                
    width: 100%;                   
    display: flex;                 
    align-items: center;           
    justify-content: center;      
    color: rgb(255, 255, 255);               
    text-align: center;            

}
#home h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}
#home>h1{
    text-shadow: 2px 2px 6px rgba(24, 24, 24, 0.7);
}
#home p{
    text-shadow: 2px 2px 6px rgba(23, 22, 22, 0.7);
}

/* next */
#about {
  background-color: #ffffff; 
  padding:  100px;     
}

.abtcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.aboutleft img {
  width: 500px;         
  border-radius: 15px;   
  object-fit: cover;
  height: 600px;
}

.aboutright {
  flex: 1;               
  color: #2b2b2b;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.aboutright h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.aboutright p {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 25px;
}
/* next */
 #services {
  background-color: #fefefc;
  padding: 100px 0;
}

.services-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

#services h2 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  color: #2b2b2b;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-box {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 40px 25px;
  font-size: 1.2rem;
  color: #000000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.service-box:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

/* next */
 #projects {
  background-color: #f9f9f9;
  padding: 60px 0;
  text-align: center;
  #projects {
  background-color: #f9f9f9;
  padding: 60px 0;
  text-align: center;
  font-family: "Zalando Sans SemiExpanded", sans-serif; 
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 25px;                               
}

.project {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  height: 430px;             
  transition: 0.3s;
  overflow: hidden;
box-sizing: border-box;
height: auto;
min-height: 460px;

}

.project img {
  width: 100%;
  height: 300px;             
  object-fit: cover;         
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 20px;
  margin: 10px 0;
}

.project p {
  font-size: 15px;
  color: #000000;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

#projects h2 {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  color: #2b2b2b;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}


/* next */
footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 40px 0;
  font-family: 'Zalando Sans SemiExpanded', sans-serif;
}

.footer-container h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.footer-container p {
  font-size: 1rem;
  margin: 5px 0;
  color: #ddd;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
  color: #ccc;
}
